/*Melvin Reni
C0917813*/

body{
    background-color:  #3d3d3d;
}

.banner{
    display: flex;
    border-radius: 7px;
    height: 90%;
    width: 100%;   
    background-color: #d2d2d4e9; 
}
h2,p{
    color: #ebebeb;
    padding-left: 25px;

}

h1, h3{
    color: #ebebeb;
    text-align: left;
    padding-left: 13%;
}

nav{
    padding-top: 1%;
    background-color: #676767;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #909090;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav a{
    display: inline-block;
    color: #ebebeb;
    font-family: Century;
    text-decoration: none;
    font-size: 110%;
    padding-left: 3%;
    padding-right: 3%;
}

nav .logo{
    display: flex;
    align-items: center;
    height: 5%;
    width: 5%;
}

nav img{
    height: 100%;
    width: 100%;
}

nav .nav_elements{
    flex: 1;
    text-align: center;
}

.product_container{
    display: inline;
    justify-content: space-between;
    margin-right: 20px;
}

.product_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    flex: 0 0 23%; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    max-width: 250px;
}

.product img {
    border-radius: 7px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 10px;
    margin-bottom: 10px;
}

footer{
    display: block;
    text-align: center;
    background-color: #676767;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* css forfaqs*/

.faq-section {
    margin-bottom: 20px;
    text-align: left;
    color:rgb(255, 208, 127);


}


/* Viewport for Mobile */
@media screen and (max-width: 600px) {
    .nav_item
    {
        display: block;
        padding: 5px 0px 5px 0px;
    }

    .nav_item:hover
    {
        background-color: rgba(225, 225, 225, .5);
    }
}


/* Viewport for tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* Tablet styles go here */

   .nav_item:hover
    {
        background-color: rgba(25, 225, 225, .5);
        padding: 5px;
    }
}


/* Viewport for Desktop */
@media screen and (min-width: 1025px) {
  /* Desktop styles go here */

  .nav_item:hover
    {
        background-color: rgba(225, 35, 225, .5);
        padding: 5px;
    }
}

